*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 10dvh auto;
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.player {
  flex: 1;
}

.player p {
  font-size: 1.5em;
  margin: 0;
}

.player span {
  display: block;
  font-size: 2em;
  margin-top: 5px;
}

.game-box {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  user-select: none;
  tap-highlight-color: transparent;
  margin-bottom: 2em;
}

.box {
  float: left;
  width: 33.333%;
  height: 33.333%;
  transition: background-color 0.1s;
  cursor: pointer;
}

.box.top {
  border-bottom: 5px solid #fff;
}

.box.left {
  border-right: 5px solid #fff;
}

.box.right {
  border-left: 5px solid #fff;
}

.box .o,
.box .x {
  position: relative;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
}

.o {
  left: 16.667%;
  top: 16.667%;
  width: 66.667%;
  height: 66.667%;
  border-radius: 50%;
  border: 20px solid #fff;
}

.x {
  width: 100%;
  height: 100%;
}

.x::before {
  transform: rotate(45deg);
}

.x::before,
.x::after {
  position: absolute;
  content: "";
  background-color: #fff;
  left: 90px;
  top: 20px;
  width: 20px;
  height: 160px;
}

.x::after {
  transform: rotate(-45deg);
}

/* Add this to the existing CSS file */

.blink {
  animation: blink-animation 0.5s step-start 0s 5 alternate;
}

@keyframes blink-animation {
  90% {
      border-color: rgb(0, 0, 0);
  }
  100% {
      border-color: initial;
  }
}
